* {
    padding: 0;
    margin: 0;
}


header.flexbox-container1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
   
    background-color:#050518;
    line-height: 57px;
    
    color: white;
    font-family: cursive;
    
  
    
   
    font-size: 20pt;
    box-shadow: 10px 10px 20px black;
    justify-content:center;
    
    
  
}



/*
div.flexbox1 {
    width: 1580px;
    background-color:#050518;
    margin: 2%;
    line-height: 60px;
    text-align: center;
    color: white;
    font-family: cursive;
    border: 2px solid white;
    border-radius: 9px;
    margin-top:0 ;
    font-size: 20pt;
    box-shadow: 10px 10px 20px black;
    
}*/

img.lampada-apagada {
 
    width: 42px;
    position: absolute;
   
}

main.flexbox-container2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(4, 67, 104);
    font-family: cursive;
   
    justify-content:space-evenly;
    box-shadow: 10px 10px 20px black;
    
    
}

div.flexbox2 {
    width: 180px;
    height: 180px;
    /*flex-basis: 180px;*/
    background-color: rgb(4, 67, 104);
    margin: 1%;
    line-height: 170px;
    align-items: center;
    text-align: center;
    color: white;
    font-family: cursive;
    border: 3px solid white;
    border-radius: 9px;
   
    box-shadow: 3px 3px 8px rgb(255, 254, 254);
  
   }

img.ohm-calculo{
    width: 175px;
    height: 176px;
     padding: 1px; 
     margin-top: 1px; 
    border-radius: 8px;
    -webkit-transition: all .3s ease-in;
}
img.ohm-calculo:hover {
    -webkit-transform: scale(1.2);
}

img.queda-calculo{
    width: 175px;
    height: 176px;
     padding: 1px; 
     margin-top: 1px; 
    border-radius: 8px;
    -webkit-transition: all .3s ease-in;
}
img.queda-calculo:hover {
    -webkit-transform: scale(1.2);
}







aside.flexbox-container3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:rgb(4, 67, 104);
    justify-content:space-evenly;
   
    box-shadow: 10px 10px 20px black;
   
   
}

div.flexbox3 {
    width: 600px;
    height: 200px;
    background-color:#000009;
    margin: 0.85%;
    line-height: 200px;
    text-align: center;
    color: white;
    font-family: cursive;
    border: 2px solid white;
    border-radius: 9px;
    box-shadow: 3px 3px 8px rgb(255, 254, 254);
}

footer.flexbox-container4 {
   
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    font-family: cursive;
    font-size: 15pt;
    color: aliceblue;
    text-align: center;
    font-size: 15px;
    width: bold;
    background-color:#000009;
    padding: 2px;
    line-height: 57px;
    box-shadow: 10px 10px 20px black;
}


/*div.flexbox-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(255, 0, 128);
    justify-content:center;
  
    
   
}*/